/* Global style */
@font-face {
  font-family: chivo-mono;
  src: url('./fonts/ChivoMono-VariableFont_wght.ttf');
}

* {
  font-family: chivo-mono;
}

body {
  background-color: transparent;
  font-size: 2vh;
}

/* Live scoped style */
.live {
  align-items: center;
  display: flex;
  color: #f00;
  font-size: 10vh;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Bottom bar scoped style */
.bottom-bar {
  color: #fff;
  display: flex;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.bottom-bar__time {
  background-color: #f00a;
  padding: 0.2rem 1rem 0.2rem 0.5rem;
}
.bottom-bar__msg {
  background-color: #000a;
  flex-grow: 1;
  overflow: hidden;
  padding: 0.2rem 1rem;
  position: relative;
}
.bottom-bar__msg > span {
  left: 0;
  padding: 0.2rem 1rem;
  position: absolute;
  top: 0%;
}

.t-bottom-bar-enter-active,
.t-bottom-bar-leave-active {
  transition: transform 0.5s ease;
}
.t-bottom-bar-enter-from,
.t-bottom-bar-leave-to {
  transform: translateY(100%);
}

/* Submission queue scoped style */
@keyframes k-submission-queue__status--pending {
  0%,
  100% {
    color: #ffff;
  }
  50% {
    color: #fff7;
  }
}

.submission-queue {
  bottom: 3rem;
  color: #fff;
  left: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
}
.submission-queue > li {
  align-items: center;
  display: flex;
  line-height: 2.25rem;
}
.submission-queue > li:nth-child(even) {
  background-color: #000a;
}
.submission-queue > li:nth-child(odd) {
  background-color: #0007;
}
.submission-queue__rank {
  background-color: #333a;
  text-align: center;
  width: 4rem;
}
.submission-queue__rank--gold {
  background-color: #eb0a;
}
.submission-queue__rank--silver {
  background-color: #aaaa;
}
.submission-queue__rank--bronze {
  background-color: #b63a;
}
.submission-queue__name {
  padding: 0 0.5rem;
  white-space: nowrap;
  width: 20vw;
}
.submission-queue__name > span {
  display: inline-block;
  transform-origin: left;
}
.submission-queue__solved {
  background-color: #0003;
  text-align: center;
  width: 2.5rem;
}
.submission-queue__problem {
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 2rem;
}
.submission-queue__problem::after {
  background-color: var(--bg-color);
  bottom: 0;
  content: '';
  height: 0.2rem;
  left: 0;
  position: absolute;
  width: 100%;
}
.submission-queue__status {
  text-align: center;
  width: 3.5rem;
}
.submission-queue__status--accept {
  background-color: #383a;
}
.submission-queue__status--wrong {
  background-color: #e00a;
}
.submission-queue__status--pending {
  animation: k-submission-queue__status--pending 1s infinite linear;
  background-color: #aa0a;
}
.submission-queue__status--frozen {
  background-color: #0dda;
}

.t-submission-queue-enter-active,
.t-submission-queue-leave-active {
  transition: transform 0.5s ease;
}
.t-submission-queue-enter-from,
.t-submission-queue-leave-to {
  transform: translateX(calc(-100% - 2rem));
}

.tg-submission-queue-move,
.tg-submission-queue-enter-active {
  transition: all 0.5s ease;
}
.tg-submission-queue-leave-active {
  position: absolute;
  transition: all 0.5s ease;
}
.tg-submission-queue-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}
.tg-submission-queue-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

/* Sign scoped style */
.sign {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  left: 0.5rem;
  opacity: 0.5;
  position: fixed;
  top: 0.5rem;
}
.sign > img {
  height: 3rem;
}
.sign > div {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Statistic scoped style */
.statistic {
  bottom: 3rem;
  color: #fff;
  right: 1rem;
  position: fixed;
  width: 43vw;
  z-index: 500;
}
.statistic__title {
  background-color: #f00a;
  font-weight: bold;
  line-height: 2rem;
  margin: 0;
  text-align: center;
}
.statistic__graph {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.statistic__graph > li {
  display: flex;
  line-height: 2rem;
  text-align: center;
}
.statistic__graph > li:nth-child(even) {
  background-color: #000a;
}
.statistic__graph > li:nth-child(odd) {
  background-color: #0007;
}
.statistic__graph__problem {
  background-color: #0003;
  font-weight: bold;
  position: relative;
  width: 2rem;
}
.statistic__graph__problem::after {
  background-color: var(--bg-color);
  bottom: 0;
  content: '';
  height: 0.2rem;
  left: 0;
  position: absolute;
  width: 100%;
}
.statistic__graph__accept {
  background-color: #383a;
}
.statistic__graph__pending {
  background-color: #aa0a;
}
.statistic__graph__wrong {
  background-color: #e00a;
}

.t-statistic-enter-active,
.t-statistic-leave-active {
  transition: transform 0.5s ease;
}
.t-statistic-enter-from,
.t-statistic-leave-to {
  transform: translateX(calc(100% + 2rem));
}

/* Accept queue scoped style */
.accept-queue {
  bottom: 24rem;
  color: #fff;
  left: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
}
.accept-queue > li {
  align-items: center;
  display: flex;
  line-height: 2.25rem;
}
.accept-queue > li:nth-child(even) {
  background-color: #000a;
}
.accept-queue > li:nth-child(odd) {
  background-color: #0007;
}
.accept-queue__rank {
  background-color: #333a;
  text-align: center;
  width: 4rem;
}
.accept-queue__rank--gold {
  background-color: #eb0a;
}
.accept-queue__rank--silver {
  background-color: #aaaa;
}
.accept-queue__rank--bronze {
  background-color: #b63a;
}
.accept-queue__name {
  padding: 0 0.5rem;
  white-space: nowrap;
  width: 20vw;
}
.accept-queue__name > span {
  display: inline-block;
  transform-origin: left;
}
.accept-queue__solved {
  background-color: #0003;
  text-align: center;
  width: 2.5rem;
}
.accept-queue__problem {
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 2rem;
}
.accept-queue__problem::after {
  background-color: var(--bg-color);
  bottom: 0;
  content: '';
  height: 0.2rem;
  left: 0;
  position: absolute;
  width: 100%;
}
.accept-queue__penalty {
  background-color: #383a;
  text-align: center;
  width: 3.5rem;
}
.accept-queue__penalty--first {
  background-color: #0afa;
}

.t-accept-queue-enter-active,
.t-accept-queue-leave-active {
  transition: transform 0.5s ease;
}
.t-accept-queue-enter-from,
.t-accept-queue-leave-to {
  transform: translateX(calc(-100% - 2rem));
}

.tg-accept-queue-move,
.tg-accept-queue-enter-active {
  transition: all 0.5s ease;
}
.tg-accept-queue-leave-active {
  position: absolute;
  transition: all 0.5s ease;
}
.tg-accept-queue-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}
.tg-accept-queue-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

/* Rank scoped style */
.rank {
  top: 1rem;
  color: #fff;
  right: 1rem;
  position: fixed;
  width: 65vw;
  z-index: 250;
}
.rank__title {
  background-color: #f00a;
  font-weight: bold;
  line-height: 2rem;
  margin: 0;
  text-align: center;
}
.rank__wrapper {
  height: calc(100vh - 5rem);
  overflow: auto;
  position: relative;
}
.rank__wrapper__header {
  background-color: #000a;
  display: flex;
  line-height: 2rem;
  position: sticky;
  top: 0;
  z-index: 300;
}
.rank__wrapper__header > span {
  text-align: center;
}
.rank__wrapper__rank {
  width: 4rem;
}
.rank__wrapper__rank--gold {
  background-color: #eb0a;
}
.rank__wrapper__rank--silver {
  background-color: #aaaa;
}
.rank__wrapper__rank--bronze {
  background-color: #b63a;
}
.rank__wrapper__name {
  white-space: nowrap;
  width: 15vw;
}
.rank__wrapper__solved {
  width: 3rem;
}
.rank__wrapper__penalty {
  width: 5rem;
}
.rank__wrapper__problems {
  display: grid;
  flex-grow: 1;
  text-align: center;
}
.rank__wrapper__problems > span {
  position: relative;
}
.rank__wrapper__problems > span::after {
  background-color: var(--bg-color);
  bottom: 0;
  content: '';
  height: 0.2rem;
  left: 0;
  position: absolute;
  width: 100%;
}
.rank__wrapper__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}
.rank__wrapper__list > li {
  display: flex;
  line-height: 2rem;
}
.rank__wrapper__list > li:nth-child(even) {
  background-color: #000a;
}
.rank__wrapper__list > li:nth-child(odd) {
  background-color: #0009;
}
.rank__wrapper__list > li > span {
  text-align: center;
}
.rank__wrapper__list__name {
  display: flex;
  justify-content: center;
}

.t-rank-enter-active,
.t-rank-leave-active {
  transition: transform 0.5s ease;
}
.t-rank-enter-from,
.t-rank-leave-to {
  transform: translateX(calc(100% + 2rem));
}

.tg-rank-move,
.tg-rank-enter-active {
  transition: all 0.5s ease;
}
.tg-rank-leave-active {
  position: absolute;
  transition: all 0.5s ease;
}
.tg-rank-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}
.tg-rank-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
